*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(13, 15, 15, 0.661);
}

header{
    background-color: rgba(245, 173, 58, 0.962);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    border: 1px solid black;
   

  

}
header img{
    width: 200px;
    animation-name: señorita;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
}
@keyframes señorita{
    100%{
        transform: scale(80%)
        
    }
    
}




h1{  
    display: flex;
    color: rgba(17, 16, 15, 0.984);
    margin: 5px;
    
}




.arriba{
    padding: 5px;
    margin: 10px;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    

}


ul  {
    display: flex;
    list-style-type: none;
    
    
}
li{
    color: rgb(13, 9, 9);
    padding: 3px;
    margin: 2px;
    font-family: cursive;
    align-items: center;
    
    
}

a{  
    margin: 5px;
    display: flex;
    background-color: rgba(230, 224, 211, 0.969);
    list-style-type: none;
    text-decoration: none;
    border-radius: 30px;
    justify-content: center;
    justify-self: center;
    border: 2px solid white;
    
    
}
a:hover{
    
    background-color: rgba(246, 140, 0, 0.974);
    border-style: groove;
    border: 2px solid rgb(229, 135, 4);
    
    
}

.banner-text {
    color: black;
    text-align: center;
    justify-content: center;
    margin: 10px;

}
.banner-text p{
    text-align: center;
    color: white;
    padding: 5px;
    font-family: cursive;
    
}
.banner-text h2{
    color:orange;
    margin: 3px;
    padding: 5px;
    animation-name: sub;
    animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;

}
@keyframes sub{
    100%{
        color: white;
        transform: scale(90%);
        transform-style: flat;
    }
}


.banner-text img {
    height: 50px;
    width: 50px;
    border: 0px;
    margin: 4px;
    border-radius: 30px;
    

}

.banner-text a{
    
    width: 60px;
    border-style: none;
    
}

.banner{
    border: 2px solid white;
    
    color: white;
    align-self: center;
    background-color: rgba(4, 10, 17, 0.582);


}
aside{
    background-color:rgba(245, 173, 58, 0.962) ;
    text-align: center;
    margin-top: 80px;
    border: 2px solid white;
    border-radius: 30px;
    border-style: groove;

    
}
aside h1{
    justify-content: center;
    color: white;
    
}
aside p{
    text-align: center;
    margin: 10px;
}
footer{
    background-color: rgb(33, 28, 28);
    margin-top: 200px;
    border: 2px solid white;
    
}
.final ul{
    display: flex;
    justify-content: space-around;
}
.final li{
    color: rgb(1, 1, 1);

    border-radius: 20px;
    
    
}

.contenedor{
    display: grid;
    grid-template-rows: 1fr ;
    row-gap: 5px;
    margin: 20px;
    align-items: center;
}
  
@media (min-width:845px){

.arriba{
    
    display: flex;
    flex-direction:row;
    margin: 0px; 
    padding: 10px;
    justify-content: center;
} 
img{
    width: 200px;
  
    
}

.banner{
    display: flex;
    flex-direction: row;
    animation-name: cajas;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;

}
@keyframes cajas{
   
    100% {
        background-color: rgb(121, 105, 74);
        
    }
}
    .banner-text{
    border: 2px solid orange;
    border-radius: 10px;
    
    
}


}
